# Import necessary libraries

In [2]:
!pip install psycopg2-binary pandas matplotlib seaborn

Requirement already satisfied: psycopg2-binary in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (2.9.10)
Requirement already satisfied: pandas in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (2.2.3)
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2024.2)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.3-cp312-cp312-win_amd64.whl.metadata (168 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.0.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading matplotlib-3.10.0-cp312-cp312-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.0 MB 4.2 MB/s eta 0:00:02
   ----- ---------------------------------- 1.0/8.0 MB 5.0 MB/s eta 0:00:02
   ----- ---------------------------------- 1.0/8.0 MB 5.0 MB/s eta 0:00:02
   ------ --------------------------------- 1.3/8.0 MB 1.8 MB/s eta 0:00:04
   ------- -------------------------------- 1.6/8.0 MB 1.5 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/8.0 MB 1.4 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/8.0 MB 1.4 MB/s eta 0:00:05
   ---------- ----------------------------- 2.1/8.0 MB 1.3 MB/s eta 0:00:05
   ----------- ---------------------------- 2.4/8.0 MB 1.2 MB/s eta 0:00:05
   ----------- ---------------------------- 2.4/8.0 MB 1.2 MB/s eta 0:00:05
   ------------- -------------------------- 2.6/8.0 MB 1.1 MB/s eta 0:00:05
   -------------- ------------------------- 2.9/8.0 MB 1.1 MB/s eta 0:00:05
   --------------- ------------------------ 3.1/8.0 MB 1.1 MB/s eta 0:00:05
   --------------- ------------------------ 3.1/8.0 MB 1.1 MB/s eta 0:00:05
   ---------------- ----------------------- 3.4/8.0 MB 1.1 MB/s eta 0:00:05
   ---------------- ----------------------- 3.4/8.0 MB 1.1 MB/s eta 0:00:05
   ------------------ --------------------- 3.7/8.0 MB 1.0 MB/s eta 0:00:05
   ------------------- -------------------- 3.9/8.0 MB 1.0 MB/s eta 0:00:04
   -------------------- ------------------- 4.2/8.0 MB 1.0 MB/s eta 0:00:04
   -------------------- ------------------- 4.2/8.0 MB 1.0 MB/s eta 0:00:04
   ---------------------- ----------------- 4.5/8.0 MB 976.1 kB/s eta 0:00:04
   ---------------------- ----------------- 4.5/8.0 MB 976.1 kB/s eta 0:00:04
   ----------------------- ---------------- 4.7/8.0 MB 941.2 kB/s eta 0:00:04
   ----------------------- ---------------- 4.7/8.0 MB 941.2 kB/s eta 0:00:04
   ------------------------ --------------- 5.0/8.0 MB 906.9 kB/s eta 0:00:04
   ------------------------ --------------- 5.0/8.0 MB 906.9 kB/s eta 0:00:04
   -------------------------- ------------- 5.2/8.0 MB 890.4 kB/s eta 0:00:04
   -------------------------- ------------- 5.2/8.0 MB 890.4 kB/s eta 0:00:04
   --------------------------- ------------ 5.5/8.0 MB 882.9 kB/s eta 0:00:03
   ---------------------------- ----------- 5.8/8.0 MB 878.6 kB/s eta 0:00:03
   ---------------------------- ----------- 5.8/8.0 MB 878.6 kB/s eta 0:00:03
   ----------------------------- ---------- 6.0/8.0 MB 876.7 kB/s eta 0:00:03
   ------------------------------- -------- 6.3/8.0 MB 875.0 kB/s eta 0:00:02
   ------------------------------- -------- 6.3/8.0 MB 875.0 kB/s eta 0:00:02
   -------------------------------- ------- 6.6/8.0 MB 877.2 kB/s eta 0:00:02
   --------------------------------- ------ 6.8/8.0 MB 879.3 kB/s eta 0:00:02
   ----------------------------------- ---- 7.1/8.0 MB 883.0 kB/s eta 0:00:02
   ------------------------------------ --- 7.3/8.0 MB 886.4 kB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.0 MB 886.4 kB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.0 MB 891.3 kB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 896.0 kB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 896.8 kB/s eta 0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.1-cp312-cp312-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 1.0 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.2 MB 1.2 MB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.2 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.2 MB 1.2 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.1 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.2 MB 978.7 kB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 951.1 kB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Downloading pillow-11.0.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.6 MB 799.2 kB/s eta 0:00:03
   ------------ --------------------------- 0.8/2.6 MB 762.0 kB/s eta 0:00:03
   ------------ --------------------------- 0.8/2.6 MB 762.0 kB/s eta 0:00:03
   ---------------- ----------------------- 1.0/2.6 MB 798.4 kB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 798.6 kB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 798.6 kB/s eta 0:00:02
   ------------------------ --------------- 1.6/2.6 MB 814.1 kB/s eta 0:00:02
   ---------------------------- ----------- 1.8/2.6 MB 831.8 kB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.6 MB 844.8 kB/s eta 0:00:01
   -------------------------------- ------- 2.1/2.6 MB 844.8 kB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 854.9 kB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 857.7 kB/s eta 0:00:00
Downloading pyparsing-3.2.0-py3-none-any.whl (106 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.7 matplotlib-3.10.0 pillow-11.0.0 pyparsing-3.2.0 seaborn-0.13.2

In [4]:
import psycopg2

def connect_to_database():
    try:
        # Establishing the connection to the database
        connection = psycopg2.connect(
            host="localhost",    # Replace with your host (localhost for local machine)
            port="5432",         # Default PostgreSQL port (change if using a different port)
            dbname="telecom_data",  # Replace with your database name
            user="postgres",      # Replace with your database username
            password="1040"      # Replace with your database password
        )

        # If connection is successful, print a success message
        print("Connection successful!")

        # Optionally, you can return the connection object to use later for database operations
        return connection

    except Exception as e:
        # Print the error message if connection fails
        print(f"Error: {e}")
        return None


if __name__ == "__main__":
    # Call the function to connect to the database
    connection = connect_to_database()

    # If the connection was successful, you can continue with further database operations
    if connection:
        # Example of using the connection to execute a query (optional)
        try:
            cursor = connection.cursor()  # Create a cursor object to interact with the database
            cursor.execute("SELECT version();")  # Example query to get PostgreSQL version
            db_version = cursor.fetchone()  # Fetch the result of the query
            print("PostgreSQL Database Version:", db_version[0])
        except Exception as query_error:
            print(f"Error during query execution: {query_error}")
        finally:
            # Make sure to close the connection and cursor when done
            cursor.close()
            connection.close()

Connection successful!
PostgreSQL Database Version: PostgreSQL 17.2 on x86_64-windows, compiled by msvc-19.42.34435, 64-bit

In [8]:
pip install psycopg2-binary pandas

Requirement already satisfied: psycopg2-binary in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (2.9.10)
Requirement already satisfied: pandas in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\desktop\git_folder\week2-task2\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
from sqlalchemy import create_engine

# Function to load data from PostgreSQL into pandas DataFrame
def load_data_from_postgres(query, engine):
    try:
        # Using SQLAlchemy's engine to execute the query and load the data into a DataFrame
        df = pd.read_sql_query(query, engine)
        print("Data loaded successfully!")
        return df
    except Exception as e:
        print(f"Failed to load data: {e}")
        return None

# Define your connection string
connection_string = "postgresql+psycopg2://postgres:1040@localhost:5432/telecom_data"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

# Define your SQL query
query = "SELECT * FROM Xdr_data"

# Load the data into a DataFrame
df = load_data_from_postgres(query, engine)

# Check if the data was loaded successfully
if df is not None:
    print(df.head())  # Print the first few rows of the DataFrame to verify
else:
    print("No data to display.")

Data loaded successfully!
      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]

In [19]:
import psycopg2
import pandas as pd

def load_data_from_postgres(query):
    try:
        # Database connection parameters
        connection = psycopg2.connect(
            host="localhost",    # Replace with your host (localhost for local machine)
            port="5432",         # Default PostgreSQL port (change if using a different port)
            dbname="telecom_data",  # Replace with your database name
            user="postgres",      # Replace with your database username
            password="1040"      # Replace with your database password
        )

        # Load data using the query
        df = pd.read_sql_query(query, connection)
        
        # Check if DataFrame is not None and print success
        if df is not None:
            print("successful")
            return df
        else:
            print("failed")
            return None
    except Exception as e:
        print(f"Error: {e}")
        return None
    finally:
        # Ensure connection is closed
        if connection:
            connection.close()

# Example usage:
query = "SELECT * FROM xdr_data;"  # Replace with your SQL query
df = load_data_from_postgres(query)

C:\Users\user\AppData\Local\Temp\ipykernel_9396\458385738.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

successful

In [20]:
df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

In [22]:
import psycopg2
import pandas as pd

def load_data_from_postgres(query):
    try:
        # Database connection parameters
        connection = psycopg2.connect(
            host="localhost",    # Replace with your host (localhost for local machine)
            port="5432",         # Default PostgreSQL port (change if using a different port)
            dbname="telecom_data",  # Replace with your database name
            user="postgres",      # Replace with your database username
            password="1040"      # Replace with your database password
        )

        # Load data using the query
        df = pd.read_sql_query(query, connection)
        
        # Check if DataFrame is not None and print success
        if df is not None:
            print("successful")
            return df
        else:
            print("failed")
            return None
    except Exception as e:
        print(f"Error: {e}")
        return None
    finally:
        # Ensure connection is closed
        if connection:
            connection.close()

# Example usage:
query = """
SELECT 
    AVG("Dur. (ms)") AS avg_duration,
    SUM("Youtube DL (Bytes)" + "Youtube UL (Bytes)" + "Netflix DL (Bytes)" + "Netflix UL (Bytes)" + "Gaming DL (Bytes)" + "Gaming UL (Bytes)") AS total_data_usage,
    AVG("RTT") AS avg_rtt
FROM 
    xdr_data;
"""  # Replace with your SQL query

df = load_data_from_postgres(query)

# Display the result
if df is not None:
    print(df)

Error: Execution failed on sql '
SELECT
    AVG("Dur. (ms)") AS avg_duration,
    SUM("Youtube DL (Bytes)" + "Youtube UL (Bytes)" + "Netflix DL (Bytes)" + "Netflix UL (Bytes)" + "Gaming DL (Bytes)" + "Gaming UL (Bytes)") AS total_data_usage,
    AVG("RTT") AS avg_rtt
FROM
    xdr_data;
': column "RTT" does not exist
LINE 5:     AVG("RTT") AS avg_rtt
                ^

C:\Users\user\AppData\Local\Temp\ipykernel_9396\742033149.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [24]:
import psycopg2

# Set up your PostgreSQL connection
connection = psycopg2.connect(
    host="localhost",
    database="telecom_data",  # Replace with your database name
    user="postgres",  # Replace with your username
    password="1040"  # Replace with your password
)

cursor = connection.cursor()

# SQL query to get column names from the xdr_data table
query = """
SELECT column_name
FROM information_schema.columns
WHERE table_name = 'xdr_data';
"""

try:
    # Execute the query
    cursor.execute(query)
    
    # Fetch all results
    columns = cursor.fetchall()

    # Display the column names
    for column in columns:
        print(column[0])

except Exception as e:
    print(f"Error: {e}")
finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

Total DL (Bytes)
Gaming UL (Bytes)
Other DL (Bytes)
Other UL (Bytes)
Total UL (Bytes)
Bearer Id
Start ms
End ms
Dur. (ms)
IMSI
MSISDN/Number
IMEI
Avg RTT DL (ms)
Avg RTT UL (ms)
Avg Bearer TP DL (kbps)
Avg Bearer TP UL (kbps)
TCP DL Retrans. Vol (Bytes)
TCP UL Retrans. Vol (Bytes)
DL TP < 50 Kbps (%)
50 Kbps < DL TP < 250 Kbps (%)
250 Kbps < DL TP < 1 Mbps (%)
DL TP > 1 Mbps (%)
UL TP < 10 Kbps (%)
10 Kbps < UL TP < 50 Kbps (%)
50 Kbps < UL TP < 300 Kbps (%)
UL TP > 300 Kbps (%)
HTTP DL (Bytes)
HTTP UL (Bytes)
Activity Duration DL (ms)
Activity Duration UL (ms)
Dur. (ms).1
Nb of sec with 125000B < Vol DL
Nb of sec with 1250B < Vol UL < 6250B
Nb of sec with 31250B < Vol DL < 125000B
Nb of sec with 37500B < Vol UL
Nb of sec with 6250B < Vol DL < 31250B
Nb of sec with 6250B < Vol UL < 37500B
Nb of sec with Vol DL < 6250B
Nb of sec with Vol UL < 1250B
Social Media DL (Bytes)
Social Media UL (Bytes)
Google DL (Bytes)
Google UL (Bytes)
Email DL (Bytes)
Email UL (Bytes)
Youtube DL (Bytes)
Youtube UL (Bytes)
Netflix DL (Bytes)
Netflix UL (Bytes)
Gaming DL (Bytes)
Start
Last Location Name
End
Handset Type
Handset Manufacturer

In [27]:
import pandas as pd
import psycopg2

# Set up your PostgreSQL connection
connection = psycopg2.connect(
    host="localhost",
    database="telecom_data",  # Replace with your database name
    user="postgres",  # Replace with your username
    password="1040"  # Replace with your password
)

# Define the SQL query
query = """
SELECT 
    AVG("Dur. (ms)") AS avg_duration,
    SUM("Total DL (Bytes)" + "Gaming UL (Bytes)" + "Other DL (Bytes)" + "Other UL (Bytes)" + "Total UL (Bytes)") AS total_data_usage,
    AVG("Avg RTT DL (ms)") AS avg_rtt_dl,
    AVG("Avg RTT UL (ms)") AS avg_rtt_ul
FROM 
    xdr_data;
"""

# Execute the query and store the result in a DataFrame
df = pd.read_sql_query(query, connection)

# Display the result
print(df)

# Close the connection
connection.close()

    avg_duration  total_data_usage  avg_rtt_dl  avg_rtt_ul
0  104608.560347      1.400128e+14  109.795706   17.662883

C:\Users\user\AppData\Local\Temp\ipykernel_9396\102328690.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [28]:
import pandas as pd
import psycopg2

# Set up your PostgreSQL connection
connection = psycopg2.connect(
    host="localhost",
    database="telecom_data",  # Replace with your database name
    user="postgres",  # Replace with your username
    password="1040"  # Replace with your password
)

# Define the SQL query to get the top 10 rows based on a column (e.g., total data usage)
query = """
SELECT 
    "IMSI", 
    AVG("Dur. (ms)") AS avg_duration,
    SUM("Total DL (Bytes)" + "Gaming UL (Bytes)" + "Other DL (Bytes)" + "Other UL (Bytes)" + "Total UL (Bytes)") AS total_data_usage,
    AVG("Avg RTT DL (ms)") AS avg_rtt_dl,
    AVG("Avg RTT UL (ms)") AS avg_rtt_ul
FROM 
    xdr_data
GROUP BY
    "IMSI"
ORDER BY
    total_data_usage DESC
LIMIT 10;
"""

# Execute the query and store the result in a DataFrame
df = pd.read_sql_query(query, connection)

# Display the result
print(df)

# Close the connection
connection.close()

C:\Users\user\AppData\Local\Temp\ipykernel_9396\1545387001.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

           IMSI  avg_duration  total_data_usage  avg_rtt_dl  avg_rtt_ul
0           NaN  6.591817e+04      5.246974e+11  581.513825   14.237875
1  2.082017e+14  5.862881e+05      1.661289e+10   40.909091   16.727273
2  2.082014e+14  4.884404e+05      1.628088e+10   26.500000    3.000000
3  2.082010e+14  1.091397e+06      1.500899e+10   33.500000    4.500000
4  2.082010e+14  3.243965e+05      1.479689e+10   65.266667    5.533333
5  2.082019e+14  2.522142e+05      1.413894e+10   47.937500   19.437500
6  2.082021e+14  6.186289e+05      1.337559e+10  136.400000   18.000000
7  2.082014e+14  4.124325e+05      1.175762e+10  331.625000    5.500000
8  2.082017e+14  2.131710e+05      1.154349e+10   76.285714   40.714286
9  2.082019e+14  5.239801e+05      1.138583e+10   98.200000   25.500000

In [31]:
import pandas as pd
import psycopg2

# Set up your PostgreSQL connection
connection = psycopg2.connect(
    host="localhost",
    database="telecom_data",  # Replace with your database name
    user="postgres",  # Replace with your username
    password="1040"  # Replace with your password
)

# SQL query to get top 10 handsets
query = """
SELECT 
    "IMEI", 
    COUNT("IMEI") AS usage_count
FROM 
    xdr_data
GROUP BY 
    "IMEI"
ORDER BY 
    usage_count DESC
LIMIT 10;
"""

# Execute the query and load the result into a DataFrame
df_top_10_handsets = pd.read_sql_query(query, connection)

# Show the result
print(df_top_10_handsets)

# Close the connection
connection.close()

C:\Users\user\AppData\Local\Temp\ipykernel_9396\4111157165.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top_10_handsets = pd.read_sql_query(query, connection)

           IMEI  usage_count
0  3.518231e+13           18
1  3.574631e+13           17
2  3.528141e+13           17
3  8.694800e+13           16
4  3.540531e+13           15
5  8.672400e+13           15
6  3.564371e+13           13
7  3.528141e+13           12
8  3.558661e+13           12
9  3.540751e+13           12

In [35]:
import pandas as pd
import psycopg2

# Set up the PostgreSQL connection
connection = psycopg2.connect(
    host="localhost",
    database="telecom_data",  # Replace with your database name
    user="postgres",  # Replace with your username
    password="1040"  # Replace with your password
)

# Query to get the column names of the 'xdr_data' table
column_query = """
SELECT column_name
FROM information_schema.columns
WHERE table_name = 'xdr_data';
"""

# Execute the query to fetch column names
columns_df = pd.read_sql_query(column_query, connection)

# Show the column names to check the exact column name
print(columns_df)

# Close the connection
connection.close()

                                 column_name
0                           Total DL (Bytes)
1                          Gaming UL (Bytes)
2                           Other DL (Bytes)
3                           Other UL (Bytes)
4                           Total UL (Bytes)
5                                  Bearer Id
6                                   Start ms
7                                     End ms
8                                  Dur. (ms)
9                                       IMSI
10                             MSISDN/Number
11                                      IMEI
12                           Avg RTT DL (ms)
13                           Avg RTT UL (ms)
14                   Avg Bearer TP DL (kbps)
15                   Avg Bearer TP UL (kbps)
16               TCP DL Retrans. Vol (Bytes)
17               TCP UL Retrans. Vol (Bytes)
18                       DL TP < 50 Kbps (%)
19            50 Kbps < DL TP < 250 Kbps (%)
20             250 Kbps < DL TP < 1 Mbps (%)
21                        DL TP > 1 Mbps (%)
22                       UL TP < 10 Kbps (%)
23             10 Kbps < UL TP < 50 Kbps (%)
24            50 Kbps < UL TP < 300 Kbps (%)
25                      UL TP > 300 Kbps (%)
26                           HTTP DL (Bytes)
27                           HTTP UL (Bytes)
28                 Activity Duration DL (ms)
29                 Activity Duration UL (ms)
30                               Dur. (ms).1
31           Nb of sec with 125000B < Vol DL
32     Nb of sec with 1250B < Vol UL < 6250B
33  Nb of sec with 31250B < Vol DL < 125000B
34            Nb of sec with 37500B < Vol UL
35    Nb of sec with 6250B < Vol DL < 31250B
36    Nb of sec with 6250B < Vol UL < 37500B
37             Nb of sec with Vol DL < 6250B
38             Nb of sec with Vol UL < 1250B
39                   Social Media DL (Bytes)
40                   Social Media UL (Bytes)
41                         Google DL (Bytes)
42                         Google UL (Bytes)
43                          Email DL (Bytes)
44                          Email UL (Bytes)
45                        Youtube DL (Bytes)
46                        Youtube UL (Bytes)
47                        Netflix DL (Bytes)
48                        Netflix UL (Bytes)
49                         Gaming DL (Bytes)
50                                     Start
51                        Last Location Name
52                                       End
53                              Handset Type
54                      Handset Manufacturer

C:\Users\user\AppData\Local\Temp\ipykernel_9396\2659038795.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  columns_df = pd.read_sql_query(column_query, connection)

In [39]:
import pandas as pd
import psycopg2

# Set up the PostgreSQL connection
connection = psycopg2.connect(
    host="localhost",  # Adjust if using a remote database
    database="telecom_data",  # Replace with your actual database name
    user="postgres",  # Replace with your database username
    password="1040"  # Replace with your actual password
)

# Test connection with a simple query
try:
    pd.read_sql_query("SELECT 1", connection)
    print("Connection is working.")
except Exception as e:
    print("Connection failed:", e)

# Query to get the top 3 handset manufacturers
query = """
SELECT 
    "Handset Manufacture", 
    COUNT("IMEI") AS handset_count
FROM 
    xdr_data
GROUP BY 
    "Handset Manufacture"
ORDER BY 
    handset_count DESC
LIMIT 3;
"""

# Execute the query and load the result into a DataFrame
df_top_3_manufacturers = pd.read_sql_query(query, connection)

# Show the result
print(df_top_3_manufacturers)

# Close the connection
connection.close()

Connection is working.

C:\Users\user\AppData\Local\Temp\ipykernel_9396\933797747.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT 1", connection)
C:\Users\user\AppData\Local\Temp\ipykernel_9396\933797747.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top_3_manufacturers = pd.read_sql_query(query, connection)

DatabaseError: Execution failed on sql '
SELECT
    "Handset Manufacture",
    COUNT("IMEI") AS handset_count
FROM
    xdr_data
GROUP BY
    "Handset Manufacture"
ORDER BY
    handset_count DESC
LIMIT 3;
': column "Handset Manufacture" does not exist
LINE 3:     "Handset Manufacture",
            ^
HINT:  Perhaps you meant to reference the column "xdr_data.Handset Manufacturer".

In [40]:
# Test the connection with a simple query
test_query = "SELECT 1"
pd.read_sql_query(test_query, connection)

C:\Users\user\AppData\Local\Temp\ipykernel_9396\1519639738.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(test_query, connection)

   ?column?
0         1

In [41]:
query = """
SELECT 
    "Handset Manufacturer", 
    COUNT("IMEI") AS handset_count
FROM 
    xdr_data
GROUP BY 
    "Handset Manufacturer"
ORDER BY 
    handset_count DESC
LIMIT 3;
"""

# Execute the query and load the result into a DataFrame
df_top_3_manufacturers = pd.read_sql_query(query, connection)

# Show the result
print(df_top_3_manufacturers)

  Handset Manufacturer  handset_count
0                Apple          59565
1              Samsung          40839
2               Huawei          34423

C:\Users\user\AppData\Local\Temp\ipykernel_9396\2775587230.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top_3_manufacturers = pd.read_sql_query(query, connection)

In [42]:
query = """
WITH ranked_handsets AS (
    SELECT 
        "Handset Manufacturer", 
        "IMEI",
        COUNT("IMEI") AS handset_count,
        ROW_NUMBER() OVER (PARTITION BY "Handset Manufacturer" ORDER BY COUNT("IMEI") DESC) AS rank
    FROM 
        xdr_data
    GROUP BY 
        "Handset Manufacturer", "IMEI"
)
SELECT 
    "Handset Manufacturer", 
    "IMEI", 
    handset_count
FROM 
    ranked_handsets
WHERE 
    rank <= 5
ORDER BY 
    "Handset Manufacturer", rank;
"""

# Execute the query and load the result into a DataFrame
df_top_5_handsets_per_manufacturer = pd.read_sql_query(query, connection)

# Show the result
print(df_top_5_handsets_per_manufacturer)

C:\Users\user\AppData\Local\Temp\ipykernel_9396\2841713464.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top_5_handsets_per_manufacturer = pd.read_sql_query(query, connection)

                        Handset Manufacturer          IMEI  handset_count
0    A-Link Telecom International Co Limited  3.574821e+13              1
1    A-Link Telecom International Co Limited  3.563831e+13              1
2    A-Link Telecom International Co Limited  3.527411e+13              1
3    A-Link Telecom International Co Limited  3.580711e+13              1
4    A-Link Telecom International Co Limited  3.563831e+13              1
..                                       ...           ...            ...
547                                      ZTE  8.676690e+13              1
548                Zyxel Communications Corp  3.598401e+13              1
549                Zyxel Communications Corp  3.584811e+13              1
550                ZyXEL Communications Corp  3.537771e+13              1
551                                     None           NaN              0

[552 rows x 3 columns]

In [48]:
import pandas as pd

# Assuming the dataframe is named 'df'
df['Total_Data'] = df['Download'] + df['Upload']  # Total data per session

# Aggregate data by user (MSISDN)
user_behavior = df.groupby('MSISDN').agg(
    num_sessions=('Session_ID', 'count'),
    total_duration=('Session_Duration', 'sum'),
    total_dl=('Download', 'sum'),
    total_ul=('Upload', 'sum'),
    total_data=('Total_Data', 'sum')
).reset_index()

# Preview the aggregated data
print(user_behavior.head())

KeyError: 'Download'